@import url("https://fonts.googleapis.com/css2?family=Tiny5:wght@400&display=swap");

body {
    font-family: "Tiny5", sans-serif;
    color: #1b1212;
    margin: 0;
    box-sizing: border-box;
    background-color: #fbf8ef;
}

h1 {
    font-family: "Tiny5", sans-serif;
    font-size: 52px;
    margin: 0px 0px 20px;
    color: #ffca43;
}

.mainContainer {
    background-color: #fbf8ef;
    max-width: 650px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.illustrationContainer {
    background-color: #e8e5dc;
    height: 260px;
    box-shadow: 0px -7px #1b1212, 7px 0px #1b1212, -7px 0px #1b1212;
    overflow: hidden;
    position: relative;
}

.illustration {
    position: absolute;
    top: 0;
    left: 0;
}

#lightingDetails {
    position: relative;
    font-size: 20px;
    /*   color: #f7f2e0; */
    color: black;
    margin: 10px 0;
    /*   mix-blend-mode: screen;
  background-color: white; */
}

.settingsContainer {
    background-color: #ffcf55;
    box-shadow: 7px 0px #1b1212, -7px 0px #1b1212;
}

.settingsLabel {
    font-size: 22px;
}

select {
    width: 200px;
    font-family: "Tiny5", sans-serif;
    font-size: 17px;
    border: none;
    background-color: #f7f2e0;
    padding: 5px;
    margin: 10px 0;
    box-shadow: 0px 4px #f7f2e0, 0px -4px #f7f2e0, 4px 0px #f7f2e0,
        -4px 0px #f7f2e0, 0px 10px #00000038, 4px 6px #00000038, -4px 6px #00000038;
    cursor: pointer;
    /*   text-shadow: 0 0 5px #414a4c; */
    &:focus {
        outline: none;
    }
}

.sunnyMetrics {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.lightingCondContainer,
.filmSpdContainer {
    display: flex;
    flex-direction: column;
    margin: 30px 15px;
}

.filmSpdContainer {
    display: flex;
    flex-direction: column;
}

/* button styling */
#resultBtn {
    color: #fff;
    background-color: #c8412a;
    padding: 8px 35px;
    margin: 10px;
    font-family: "Tiny5", sans-serif;
    font-size: 25px;
    border: 0;
    box-shadow: 0px 4px #1b1212, 0px -4px #1b1212, 4px 0px #1b1212,
        -4px 0px #1b1212, 0px 10px #00000038, 4px 6px #00000038, -4px 6px #00000038,
        inset 0px 5px #d87a69;
    cursor: pointer;
    user-select: none;
}

#resultBtn:active {
    transform: translateY(4px);
    box-shadow: 0px 4px #1b1212, 0px -4px #1b1212, 4px 0px #1b1212,
        -4px 0px #1b1212, inset 0px 5px #d87a69;
    transition: transform 35ms;
}

#resultBtn:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

#resultBtn:disabled {
    cursor: auto;
}

/* result container styling */

.resultContainer {
    padding: 15px;
    background-color: #ffcf55;
    /*   outline: 1px solid red; */
    box-shadow: 0px 7px #1b1212, 7px 0px #1b1212, -7px 0px #1b1212,
        0px 16px #00000038, 7px 10px #00000038, -7px 10px #00000038;
}

.resultHeader {
    font-size: 22px;
    margin: 10px;
    /*   text-shadow: 0 0 2px #414a4c; */
}

.resultBoxes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.resultBox {
    /*   box-sizing: border-box; */
    background-color: #5ba4fd;
    width: 130px;
    height: 100px;
    box-shadow: 0px 4px #5ba4fd, 0px -4px #5ba4fd, 4px 0px #5ba4fd,
        -4px 0px #5ba4fd, 0px 10px #00000038, 4px 6px #00000038, -4px 6px #00000038,
        inset 0px 5px #8cbffd;
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#shutterSpeedResult,
#apertureResult {
    font-size: 32px;
    margin: 5px;
    color: #fdfcf8;
}

.resultBox p {
    margin: 5px;
}

.footer {
    /*   position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    /*   background-color: #ffe9b3; */
    color: black;
    text-align: center;
}