@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;700;900&display=swap");

body {
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 650px;
    outline: 1px solid red;
}

.mainContainer {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.illustrationContainer {
    background-color: #e8e5dc;
    height: 180px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    position: relative;
}

.illustration {
    position: absolute;
    top: 0;
    left: 0;
}

#lightingDetails {
    position: relative;
}

.settingsContainer {
    background-color: white;
}

.sunnyMetrics {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.lightingCondContainer,
.filmSpdContainer {
    display: flex;
    flex-direction: column;
    margin: 30px 15px;
}

.filmSpdContainer {
    display: flex;
    flex-direction: column;
}

.resultHeader {
    font-size: 20px;
    margin: 5px;
}

/* button styling */
#resultBtn {
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 120px;
  
}

#resultBtn:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

#resultBtn,
#resultBtn:focus {
  user-select: auto;
}

#resultBtn:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

#resultBtn:disabled {
  cursor: auto;
}

#resultBtn:active {
  border-width: 4px 0 0;
  background: none;
}

/* result container styling */

.resultContainer {
    background-color: #e8e5dc;
    /*   outline: 1px solid red; */
    border-radius: 0px 0px 20px 20px;
}

.resultBoxes {
    display: flex;
    outline: 1px solid red;
    justify-content: center;
}

.resultBox {
    /*   box-sizing: border-box; */
    background-color: yellow;
    width: 130px;
    height: 100px;
    border-radius: 15px;
    outline: 1px solid red;
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#shutterSpeedResult,
#apertureResult {
    font-size: 30px;
    margin: 5px;
}

.resultBox p {
    margin: 5px;
}